@charset "utf-8";
/* CSS Document */
body{
	background-color:#666666;
	font-size:35px;
	color:white;
}
#container{
	height:100%;
	width:100%;
	text-align:center;
	margin-top:3%;
	display:flex;
	display: -ms-flexbox; /* IE10 */ 
	justify-content:center;
	align-content:center;
}
	
#counter{
	font-size:5em;
}

.foot{
	font-size:0.5em;
	margin-top:50px;
	width:100%;
}
.progress{
	position:absolute;
	top:15px;
	left:0px;
	width:25%;
	height:25px;
}
table{
	border-spacing:5px;
}